<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesome CSS Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        :root {
            /* --green: #448844;
            --blue: #444488;
            --yellow: #949349;
            --red: #884444; */
            --black: #000000;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        ul li {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 15%;
            line-height: 1.6rem;
            font-size: 0.8em;
            color: white;
            font-weight: bold;
            text-align: center;
        }
    </style>

    <title>HittaUt GPX</title>
</head>

<body class="container">

    <header class="pricing-header mt-5 mb-5 text-center">
        <h1 class="display-3 mb-4">HittaUt GPX</h1>
        <p class="lead">
            Här hittar du inofficiella GPX-filer med koordinater för kontrollerna på HittaUt:s olika orter.
            <br />
            Koordinaterna har hämtats från HittaUt:s offentliga API och koden finns på GitLab: <a
                href="https://gitlab.com/alping/hittaut-gpx/."
                target="_blank">https://gitlab.com/alping/hittaut-gpx/</a>
        </p>
        <p>
            HittaUt är ett friskvårdsprojekt av Svenska Orienteringsförbundet och lokala orienteringsföreningar i
            Sverige.
            <br />
            Läs mer på <a href="https://www.orientering.se/provapaaktiviteter/hittaut/"
                target="_blank">https://www.orientering.se/provapaaktiviteter/hittaut/</a>
        </p>
    </header>

    <main>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ort</th>
                    <th scope="col">Antal</th>
                    <th scope="col" class="d-none d-md-table-cell">URL</th>
                    <th scope="col">GPX</th>
                </tr>
            </thead>
            <tbody>
                {% for loc in data %}
                <tr class="align-middle">
                    <th scope="row">{{ loc.name }}</th>
                    <td>
                        {% if loc %}
                        <ul>
                            {% for color, number in loc.levels.items() if number > 0 %}<li class="m-1" style="background-color: var(--{{ color }});">{{ number }}</li>{% endfor %}
                        </ul>
                        {% else %}
                            Inga kontroller
                        {% endif %}
                    </td>
                    <td class="d-none d-md-table-cell">
                        <a href="{{ loc.url }}"
                            target="_blank">{{ loc.url_text }}/</a>
                    </td>
                    <td class="text-center text-sm-left" style="font-weight: bold;">
                        <a href="gpx/{{ loc.slug }}.gpx">
                            <i class="fa fa-map-marker-alt" aria-hidden="true" title="GPS Icon"></i>
                            <span class="d-none d-sm-inline">{{ loc.slug }}.gpx</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>

</html>
